.container-corporales {
    width: 1200px;
    height: auto;
    margin: auto;
    padding-bottom: 100px;
}

.container-corporales .corporales-info {
    width: auto;
    padding-top: 50px;
    border-bottom: 3px solid var(--strongpink-color);
    margin-bottom: 50px;
}

.corporales-info h2 {
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-size: 60px;
    margin: 0;
    text-align: start;
    color: var(--black-color);
}

.corporales-info p {
    text-align: start;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 42px;
    color: var(--strongpink-color);
    margin: 0;
    margin-top: -15px;
}

.container-corporales .corporales-next {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    margin-top: 30px;
}

.corporales-next a {
    background-color: var(--strongpink-color);
    border-radius: 5px;
    color: white;
    font-family: var(--font-montserrat);
    font-weight: 600;
    text-decoration: none;
    padding: 13px 39px;
    transition: 0.2s;
    font-size: 18px;
}

.corporales-next a:hover {
    opacity: 0.7;
}

/* .container-corporales .pink-line {
    width: 585px;
    height: 5px;
    margin-top: 0px;
    margin-bottom: 100px;
    background-color: var(--strongpink-color);
    display: none;
} */

.container-corporales .accordion-container {
    width: 100%;
    height: auto;
}

.accordion-container .title {
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    padding-bottom: 20px;
    color: var(--black-color);
}

.accordion-container  .collapsed {
    background-color: white;
    color: black;
    box-shadow: none;
  }

.accordion-container .noCollapsed {
    background-color: var(--smothpink-color);
    color: white;
    box-shadow: none;
}

@media screen and (max-width: 1200px) {
    .container-corporales {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .container-corporales .pink-line {
        width: 100%;
    }

    .container-corporales .accordion-container .title {
        font-size: 28px;
    }

    .corporales-next a {
        font-size: 12px;
    }

    .corporales-info h2 {
        font-family: var(--font-montserrat);
        font-weight: 700;
        font-size: 40px;
        margin: 0;
        text-align: start;
        color: var(--black-color);
    }
    
    .corporales-info p {
        text-align: start;
        font-family: var(--font-montserrat);
        font-weight: 500;
        font-size: 25px;
        color: var(--strongpink-color);
        margin: 0;
        margin-top: 0px;
    }
}