.container-mela {
    width: 1200px;
    height: auto;
    margin: auto;
    padding-bottom: 100px;
}

.container-mela .mela-info {
    width: auto;
    padding-top: 50px;
    border-bottom: 3px solid var(--strongpink-color);
    margin-bottom: 50px;
}

.mela-info h2 {
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-size: 60px;
    margin: 0;
    text-align: start;
    color: var(--black-color);
}

.mela-info p {
    text-align: start;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 42px;
    color: var(--strongpink-color);
    margin: 0;
    margin-top: -15px;
}

.container-mela .mela-next {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    margin-top: 30px;
}

.mela-next a {
    background-color: var(--strongpink-color);
    border-radius: 5px;
    color: white;
    font-family: var(--font-montserrat);
    font-weight: 600;
    text-decoration: none;
    padding: 13px 39px;
    transition: 0.2s;
    font-size: 18px;
}

.mela-next a:hover {
    opacity: 0.7;
}

.whatsapp-fixed {
    width: auto;
    height: auto;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
 .whatsapp-fixed .whatsapp-message {
    width: 260px;
    height: 40px;
    background-color: white;
    position: relative;
    position: absolute;
    right: -300px;
    opacity: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(85, 85, 85, 0.37);
    transition: 1s;
    z-index: 20;
  }
  
 .whatsapp-fixed .whatsapp-message p {
    margin-top: 12px;
    font-weight: 600;
  }
  
  .whatsapp-message .right {
    width: 25px;
    height: 25px;
    background-color: white;
    rotate: 50deg;
    position: absolute;
    top: 8px;
    right: -2px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .whatsapp-fixed img {
    width: 50px;
    z-index: 30;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .whatsapp-fixed img:hover {
    scale: 0.9;
  }
  
   .whatsapp-fixed a {
    z-index: 30;
  }

/* .container-mela .pink-line {
    width: 585px;
    height: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: var(--strongpink-color);
} */

.container-mela .about-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: var(--black-color);
}

.container-mela .pictures-container {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

.pictures-container .picture-card {
    width: 385px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.158);
    transition: 0.5s;
    background-size: cover;
    background-position: center;
}

.pictures-container .picture-card:nth-child(1) {
    background-image: url(../../assets/Mela1.webp);
}

.pictures-container .picture-card:nth-child(2) {
    background-image: url(../../assets/Mela2.webp);
}

.pictures-container .picture-card:nth-child(3) {
    background-image: url(../../assets/Mela3.webp);
}

.pictures-container .picture-card:hover {
        box-shadow: 7px 7px 0px var(--strongpink-color);
}

.container-mela .accordion-container {
    width: 100%;
    height: auto;
}

.accordion-container  .collapsed {
    background-color: white;
    color: black;
    box-shadow: none;
  }

.accordion-container .noCollapsed {
    background-color: var(--smothpink-color);
    color: white;
    box-shadow: none;
}

.accordion-container .title {
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    padding-bottom: 2px;
    color: var(--black-color);
}

@media screen and (max-width: 1200px) {
    .container-mela {
        width: 90%;
    }

    .pictures-container .picture-card {
        width: 300px;
    }
}

@media screen and (max-width: 1050px) {
    .pictures-container .picture-card {
        width: 240px;
    }
}

@media screen and (max-width: 800px) {
    .container-mela .pink-line {
        width: 100%;
    }

    .container-mela .pictures-container {
        width: 100%;
        height: auto;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pictures-container .picture-card {
        width: 300px;
        height: 250px;
    }

    .container-mela .accordion-container .title {
        font-size: 28px;
    }

    .mela-next a {
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .pictures-container .picture-card {
        width: 100%;
    }
}