@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white-color: #FFF;
  --gray-color: #F5F5F5;
  --smothpink-color: #c5e4d2;
  --strongpink-color: #6fd199;
  --black-color: rgba(0, 0, 0, 0.781);
  --font-montserrat: "Montserrat", sans-serif;
}

html , body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
}

.app .whatsapp-fixed {
  width: auto;
  height: auto;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.app .whatsapp-fixed .whatsapp-message {
  width: 260px;
  height: 40px;
  background-color: white;
  position: relative;
  position: absolute;
  right: -300px;
  opacity: 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(85, 85, 85, 0.37);
  transition: 1s;
  z-index: 20;
}

.app .whatsapp-fixed .whatsapp-message p {
  margin-top: 12px;
  font-weight: 600;
}

.whatsapp-message .right {
  width: 25px;
  height: 25px;
  background-color: white;
  rotate: 50deg;
  position: absolute;
  top: 8px;
  right: -2px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.app .whatsapp-fixed img {
  width: 50px;
  z-index: 50;
  cursor: pointer;
  transition: 0.5s;
}

.app .whatsapp-fixed img:hover {
  scale: 0.9;
}

.app .whatsapp-fixed a {
  z-index: 50;
}

.app .socials-fixed {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  right: 10px;
  top: 50%;
}

.app .socials-fixed img {
  width: 40px;
  transition: 0.2s;
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
}

.app .socials-fixed img:hover {
  opacity: 0.7;
}

/* MAIN SECTION */
.app .banner {
  width: 100%;
  height: 100vh;
  background-image: url(./assets/testBackground.webp);
  background-size: cover;
  background-position: left;
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom-right-radius: 70px;
}

.banner .banner-main {
  width: 473px;
  margin-left: 10%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.banner .banner-main h1 {
  font-family: var(--font-montserrat);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  color: var(--white-color);
  margin: 0;
}

.banner .banner-main-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.banner-main-2 .agenda {
  font-family: var(--font-montserrat);
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-color: var(--strongpink-color);
  text-decoration: none;
  color: var(--white-color);
  transition: 0.2s;
}

.banner-main-2 .procedimientos {
  font-family: var(--font-montserrat);
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-color: var(--white-color);
  text-decoration: none;
  color: var(--strongpink-color);
  transition: 0.2s;
}

.banner .banner-main .agenda:hover {
  background-color: var(--smothpink-color);
}

/* CONSULTORIO SECTION */
/* CONSULTORIO SECTION */
/* CONSULTORIO SECTION */
.app .consultorio {
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 10;
  padding-top: 100px;
  padding-bottom: 100px;
}

.consultorio .consultorio-container {
  width: 1200px;
  height: 500px;
  background-color: var(--gray-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin: auto;
  border-bottom-left-radius: 70px;
}

.consultorio-container .consultorio-img {
  width: 60%;
  height: 100%;
  background-image: url(./assets/consultorio.webp);
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 70px;
}

.consultorio-container .consultorio-info {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.consultorio-container .consultorio-info p {
  font-family: var(--font-montserrat);
  font-weight: 300;
  font-size: 20px;
}

/* COMMENTS SECTION */
/* COMMENTS SECTION */
/* COMMENTS SECTION */
.app .testimonios {
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--white-color);
  z-index: 10;
}

.testimonios .testimonios-container {
  width: 1200px;
  height: auto;
  margin: auto;
}

.testimonios .testimonios-container .button-container {
  width: 100%;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container a {
  font-family: var(--font-montserrat);
  font-weight: 600;
  width: 250px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: var(--strongpink-color);
  text-decoration: none;
  color: var(--white-color);
  margin-top: 10px;
  transition: 0.2s;
}

.button-container a:hover {
  background-color: var(--smothpink-color);
}

.testimonios-container h2 {
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  text-align: center;
  color: var(--black-color);
}

.testimonios-container .cards-container {
  width: 100%;
  height: auto;
  padding-top: 50px;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* WORKS SECTION */
/* WORKS SECTION */
/* WORKS SECTION */
.app .works {
  width: 100%;
  height: auto;
  padding-top: 100px;
  background-color: var(--gray-color);
  padding-bottom: 100px;
  z-index: 10;
}

.works .works-container {
  width: 1200px;
  height: 100%;
  margin: auto;
}

.works-container h2 {
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  text-align: center;
  color: var(--strongpink-color);
}

.works-container p {
  text-align: center;
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 25px;
  color: var(--black-color);
  margin: 0;
  margin-top: 0px;
}

.works-container .cards-container {
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.works-container .cards-container .works-card {
  width: 370px;
  height: 370px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.164);
  border-radius: 10px;
  transition: 1s;
}

.works-container .cards-container .works-card .img-mela ,
.works-container .cards-container .works-card .img-corporales ,
.works-container .cards-container .works-card .img-faciales {
  width: 100%;
  height: calc(100% - 50px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
  background-position: center;
}

.works-container .cards-container .works-card .img-mela , .img-corporales , .img-faciales{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.works-container .cards-container .works-card .img-mela img {
  height: 100%;
}

.works-container .cards-container .works-card .img-corporales img {
  height: 100%;
}

.works-container .cards-container .works-card .img-faciales img {
  height: 100%;
}

.works-container .cards-container .works-card:hover {
  scale: 1.03;
}

.works-container .cards-container .works-card .card-info {
  width: 100%;
  height: 50px;
  background-color: var(--strongpink-color);
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.works-container .cards-container .works-card .card-info p {
  font-family: var(--font-montserrat);
  font-weight: 500;
  margin: 0;
  padding-left: 20px;
  font-size: 17px;
  color: white;
  transition: 0.2s;
}

.works-container .cards-container .works-card .card-info p:hover {
  opacity: 0.7;
}

.works-container .cards-container .works-card .card-info img {
  width: 50px;
  padding-right: 20px;
  transition: 0.2s;
  cursor: pointer;
}

.works-container .cards-container .works-card .card-info img:hover {
  opacity: 0.7;
}

/* WHY SECTION */
/* WHY SECTION */
/* WHY SECTION */
.app .why {
  width: 100%;
  height: auto;
  background-color: var(--gray-color);
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 10;
}

.why .why-container {
  width: 1200px;
  height: 100%;
  margin: auto;
}

.why-container h2 {
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  text-align: center;
  color: var(--black-color);
}

.why-container .why-cards-container {
  width: 100%;
  height: 310px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.why-card {
  width: 370px;
  height: 100%;
  position: relative;
}

.why-card .number {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: 600;
  color: var(--strongpink-color);
  margin: 0;
  position: absolute;
  top: 0px;
  left: 10px;
}

.why-card .info {
  width: 90%;
  height: 84%;
  background-color: var(--white-color);
  opacity: 0.8;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.164);
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  transition: 0.5s;
}

.why-card .info:hover {
  opacity: 1;
}

.why-card .info h3 {
  text-align: center;
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 20px;
  margin-top: 35px
}

.info p {
  width: 90%;
  margin-top: 6px;
  margin-left: 5%;
  font-family: var(--font-montserrat);
  font-size: 18px;
  text-align: center;
}
/* RESERVATION SECTION */
/* RESERVATION SECTION */
/* RESERVATION SECTION */
.app .reservation {
  width: 100%;
  height: auto;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.reservation .reservation-info {
  width: auto;
  height: auto;
  display: flex;
  padding: 100px 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.reservation-info h2 {
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  text-align: center;
  color: var(--black-color);
}

.reservation-info p {
  text-align: center;
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 25px;
  color: var(--strongpink-color);
  margin: 0;
}

.reservation-info a {
  font-family: var(--font-montserrat);
  font-weight: 600;
  width: 250px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: var(--strongpink-color);
  text-decoration: none;
  color: var(--white-color);
  margin-top: 10px;
  transition: 0.2s;
}

.reservation-info a:hover {
  background-color: var(--smothpink-color);
}

@media screen and (max-width: 1200px) {
  .about .about-container {
    width: 90%;
  }

  .about .about-container .about-cards-container {
    width: 100%;
  }

  .about .about-container .about-cards-container .about-card {
    width: 300px;
    height: 335px;
  }

  .consultorio .consultorio-container {
    width: 100%;
  }

  /* WORKS */
  .works .works-container {
    width: 90%;
  }

  .works-container .cards-container .works-card {
    width: 320px;
    height: 300px;
  }

  .testimonios .testimonios-container {
    width: 100%;
  }

  .why .why-container {
    width: 90%;
  }

  .why .why-container .why-cards-container .why-card {
    height: 380px;
  }
}

@media screen and (max-width: 1000px) {

  .about .about-container .about-cards-container {
    flex-direction: column;
    gap:30px;
  }

  .about .about-container .about-cards-container .about-card {
    width: 400px;
    height: 280px;
  }

  .about .about-container .about-cards-container .about-card .info {
    width: 330px;
  }

  .consultorio .consultorio-container {
    flex-direction: column;
    height: auto;
  }

  .consultorio-container .consultorio-img {
    width: 100%;
    height: 500px;
  }

  .works .works-container .cards-container {
    flex-direction: column;
    gap: 30px;
  }

  .why .why-container .why-cards-container {
    flex-direction: column;
    height: auto;
  }

  .why .why-container .why-cards-container .why-card {
    height: 306px;
  }

}

@media screen and (max-width: 800px) {
  .app .banner {
    background-image: url(./assets/testMobileBackground.webp);
    background-size: cover;
    background-position: center;
  }

  .banner .banner-main {
    margin: auto;
    width: auto;
  }
  .banner .banner-main h1 {
    font-size: 45px;
  }

  .banner .banner-main a {
    width: 200px;
    height: 45px;
    font-size: 15px; 
  }

  .banner .banner-main-2 {
    margin-top: 10px;
    flex-direction: column;
    gap: 5px;
  }

  .title-icon h2 {
    font-size: 28px;
  }

  .dra-info p {
    font-size: 20px;
  }

  .title-icon img {
    width: 40px;
  }

  .works-container h2 {
    font-size: 28px;
  }

  .works-container p {
    font-size: 20px;
  }

  .why-container h2 {
    font-size: 28px;
  }

  .testimonios-container h2 {
    font-size: 28px;
  }

  .reservation-info h2 {
    font-size: 28px;
  }

  .reservation-info p {
    font-size: 20px;
  }

  .reservation .reservation-info a {
    width: 200px;
    height: 45px;
    font-size: 15px; 
  }

  .testimonios-container .button-container a {
    width: 200px;
    height: 45px;
    font-size: 15px; 
  }

  .app .socials-fixed {
    left: calc(50% - 60px);
    top: calc(100vh - 70px);
    flex-direction: row;
    width: 120px;
    height: 60px;
  }

  .app .socials-fixed img {
    width: 35px;
  }

  .consultorio-container .consultorio-info {
    width: 80%;
  }

  .consultorio-container .consultorio-info p {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 550px) {
  
  
  .banner .banner-main h1 {
    font-size: 30px;
    text-align: center;
  }

  .why .why-container .why-cards-container .why-card {
    height: 280px;
  }

  .why-card .number {
    left: 0;
  }

  .why-card .number {
    font-size: 70px;
  }

  .why-card .info {
    width: 100%;
    height: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .why-card .info h3 {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 450px) {
  .about .about-container .about-cards-container .about-card {
    width: 100%;
    height: 340px;
    position: relative;
  }

  .about .about-container .about-cards-container .about-card .img {
    width: auto;
    position: absolute;
    left: 0;
  }

  .about .about-container .about-cards-container .about-card .img img {
    width: 40px;
    margin: 0;
  }

  .title-icon h2 {
    font-size: 23px;
  }
  
  .dra-info p {
    font-size: 20px;
  }
}