.banner {
    width: 100%;
    height: 700px;
    padding-top: 80px;
    background-color: var(--gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.banner-socials {
    width: 50px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    gap: 5px;
    position: absolute;
    right: 0;
  }
  
  .banner-socials img {
    width: 40px;
    transition: 0.2s;
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
  }
  
  .banner-socials img:hover {
    opacity: 0.7;
  }



.banner .banner-info {
    text-align: center;
}

.banner-info h2 {
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    text-align: center;
    color: var(--black-color);
}

.banner-info p {
    text-align: center;
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: 25px;
    color: var(--strongpink-color);
    margin: 0;
}

@media screen and (max-width: 800px) {
    .banner-info h2 {
        font-size: 30px;
    }

    .banner-info p {
        font-size: 20px;
    }

    .banner .banner-socials {
        width: 70px;
        height: auto;
        flex-direction: row;
        left: calc(50% - 30px);
        top: 300px;
    }

    .banner .banner-socials img {
        width: 35px;
    }
}